# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Secrets
.env

# Build artifacts
build/
*.zip
*.msix
*.exe
dist/*
!dist/PoE查詢工具.exe
!dist/PoE查詢工具.zip

# Local logs / editor
nba_logs/
.vscode/
poe_affix_data/chinese_pin.json
